<div id="Home" class="header-cont-container">
    <div class="header-info">
        <div class="header-txt">
            <h1>Nunca la cocina fue fácil y divertida: Encuentra tu chef interior</h1>
            <p>Descubre más de 10.000 recetas. Descubre la forma más fácil de cocinar.</p>
            <a href="#" class="btn-1">Explora recetas</a>
        </div>
        <div class="header-img">
            <img src="assets/images/image 22.png" alt="Fondo">
        </div>
        <div class="header-img brocoli">
            <img src="assets/images/Brocoli.png" alt="Brocoli">
        </div>
        <div class="header-img cebolla">
            <img src="assets/images/Cebolla.png" alt="Cebolla">
        </div>
        <div class="header-img tomato">
            <img src="assets/images/Tomato.png" alt="Tomato">
        </div>
    </div>
</div>
<br>
<br>
<app-recipe-list></app-recipe-list>



